StreamDemo/IoTEmulator/IoTEmulator/packages/
StreamDemo/IoTEmulator/IoTEmulator/IoTEmulator/bin/
StreamDemo/IoTEmulator/IoTEmulator/IoTEmulator/obj/Debug/IoTEmulator.csproj.CopyComplete
StreamDemo/IoTEmulator/IoTEmulator/IoTEmulator/obj/
StreamDemo/EventHub-DataProvider/packages/
StreamDemo/IoTEmulator/IoTEmulator/.vs/
StreamDemo/EventHub-DataProvider/.vs/
StreamDemo/Lambda/.vs/
